body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}
h1 {
  margin: 0;
  margin-bottom: .5rem;
}
.currency-select {
  padding-right: 2rem !important;
}
.equals {
  font-weight: bold;
  font-size: 2rem;
}

@media screen and (max-width: 590px) {
  .currency-label {
    display: none;
  }
}